@media screen {
.no-screen {
    display: none;
  }
}

@media print{
 *{
    zoom: 1.00;
    background-color: #fff;
 }
	
.no-print{
    display: none;
  }
	
.hide-on-screen {
　　display:block;
}

main{
    padding-top: 0px;
}

.page-break {
    break-before: always;
}

@page {
    size: A4 portrait;
    margin: 10px;
    background-color: #fff;
}
	
}

@media all and (-ms-high-contrast: none){
.page-break {
      break-before: auto;
}
}
